# Neon PostgreSQL
DATABASE_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# NextAuth
AUTH_SECRET="tasodifiy-32-belgili-kalit"
AUTH_URL="https://your-app.vercel.app"
